[Desktop Entry]
Name=Xmodmap Apply
Comment=My xmodmap setting
Exec=/home/g/dotfiles/d/xmodmap/xmodmap-apply.sh
Type=Application
Terminal=false
Icon=/home/g/dotfiles/d/desktop-apps/icon/kbd.svg
NoDisplay=false
