[Desktop Entry]
Name=Suspend
Comment=Hibernate the system, RAMs are cleared but will be reverted from the backup.
Exec=systemctl suspend
Terminal=false
Type=Application
Categories=System;
Icon=media-floppy

# desktop-file-validate ~/.local/share/applications/my-suspend.desktop   # for a check 
